/devel/DiabelliFramework/nbproject/private/
/devel/Diabelli/nbproject/private/
/devel/DiabelliFramework/build/
/devel/Diabelli/build/
/devel/DiabelliSystem/nbproject/private/
/devel/DiabelliSystem/build/
/devel/drivers/DiabelliIsabelle/nbproject/private/
/devel/drivers/SpeedithDiabelli/nbproject/private/
/devel/drivers/SpeedithDiabelli/build/
/devel/drivers/SpeedithDiabelli/release/
/devel/drivers/DiabelliIsabelle/build/
/devel/drivers/DiabelliIsabelle/release/
/devel/Speedabelle/nbproject/private/
/devel/Speedabelle/build/
/devel/Speedabelle/dist/
/devel/Propity/nbproject/private/
/devel/Propity/build/
/devel/Propity/dist/
/devel/Diabelli/release/
/devel/drivers/IsabelleScalaWrapper/classes/
/devel/drivers/SpeedithIsabelle/classes/
/devel/drivers/NatLang/build/
/devel/drivers/NatLang/nbproject/private/
/devel/drivers/TPTP/build/
/devel/drivers/TPTP/nbproject/private/
/devel/drivers/HyperblocksDiabelli/nbproject/private/
/devel/drivers/HyperblocksDiabelli/release/modules/ext/jogl.jar
/devel/drivers/HyperblocksDiabelli/release/modules/ext/Openproof.jar
/devel/drivers/HyperblocksDiabelli/release/modules/ext/MRJAdapter.jar
/devel/drivers/HyperblocksDiabelli/build/
/devel/drivers/HyperblocksDiabelli/release/modules/ext/
/devel/drivers/HyperblocksDiabelli/release/
/devel/drivers/PicProc/build/
/devel/drivers/IsabelleMixRDriver/build/
/devel/drivers/IsabelleMixRDriver/nbproject/private/
/devel/drivers/HyperblocksMixR/build/
/devel/drivers/HyperblocksMixR/nbproject/private/
/devel/drivers/SpeedithMixRDriver/build/
/devel/MixR/build/
/devel/MixR/nbproject/private/
/devel/MixRFramework/nbproject/private/
/devel/drivers/SpeedithMixRDriver/nbproject/private/
/devel/drivers/PicProc/nbproject/private/