/devel/DiabelliFramework/nbproject/private/
/devel/Diabelli/nbproject/private/
/devel/DiabelliFramework/build/
/devel/Diabelli/build/
/devel/DiabelliSystem/nbproject/private/
/devel/DiabelliSystem/build/
/devel/drivers/DiabelliIsabelle/nbproject/private/
/devel/drivers/SpeedithDiabelli/nbproject/private/
/devel/drivers/SpeedithDiabelli/build/
/devel/drivers/SpeedithDiabelli/release/
/devel/drivers/DiabelliIsabelle/build/
/devel/drivers/DiabelliIsabelle/release/
/devel/Speedabelle/nbproject/private/
/devel/Speedabelle/build/
/devel/Speedabelle/dist/