/devel/DiabelliFramework/nbproject/private/
/devel/Diabelli/nbproject/private/
/devel/DiabelliFramework/build/
/devel/Diabelli/build/
/devel/DiabelliSystem/nbproject/private/
/devel/DiabelliSystem/build/